#mimeticapi-space {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#text-area {
  width: 80vw;
  min-width: 200px;
  height: 400px;
  resize: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid lightblue;
}

#mimeticapi-space button {
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 20px;
}

#code-area {
  display: flex;
  flex-direction: column;
}

#endpoint-area {
  padding: 20px;
  text-align: center;
  width: 80vw;
}

#endpoint-area p {
  border-bottom: 2px dashed var(--btnBkg);
  overflow-wrap: break-word;
}
