#mimeticapi-space {
  display: flex;
  z-index: 1;
}

#text-area {
  width: 500px;
  height: 400px;
  resize: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid lightblue;
}

#mimeticapi-space button {
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 20px;
}

#code-area {
  display: flex;
  flex-direction: column;
}

#endpoint-area {
  padding: 10px;
  width: 400px;
}

#endpoint-area p {
  border-bottom: 2px dashed var(--btnBkg);
  width: max-content;
}
